*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 600px;
    background: khaki;
    width: 800px;
}
.red{
    width: 100px;
    height: 100px;
    background: red;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.black{
    width: 100px;
    height: 100px;
    background: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50px);
}
<<<<<<< HEAD
<<<<<<< HEAD
.yellow{
    width: 100px;
    height: 100px;
    background: yellow;
=======
<<<<<<< HEAD
=======

>>>>>>> 8fb8ff8ad4516d8cbce0b2d3cbab3e746dbe2ba0
.green{
    width: 100px;
    height: 100px;
    background: green;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 8fb8ff8ad4516d8cbce0b2d3cbab3e746dbe2ba0
.blue{
    background: blue;
    width: 100px;
    height: 100px;
<<<<<<< HEAD
>>>>>>> 96996ad6e4ec5ce39f85a012aed8cf726751e313
>>>>>>> cd4b723a28fb9ad17da6e67e58b4514855b185a3
=======
>>>>>>> 8fb8ff8ad4516d8cbce0b2d3cbab3e746dbe2ba0
}
h3{
    font-size: 50px;
}