*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 600px;
    background: khaki;
    width: 800px;
}
.red{
    width: 100px;
    height: 100px;
    background: red;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.black{
    width: 100px;
    height: 100px;
    background: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50px);
}

.yellow{
    width: 100px;
    height: 100px;
    background: yellow;
}
.green{
    width: 100px;
    height: 100px;
    background: green;
}
.blue{
    background: blue;
    width: 100px;
    height: 100px;
    top: 65%;
    left: 80%;
}
h3{
    font-size: 50px;
}